{% set os_map = salt['grains.filter_by']({
    'Debian': {
        'config': '/etc/diamond/diamond.conf',
        'configs_dir': '/etc/diamond/configs/',
        'collectors_config_path': '/etc/diamond/collectors/',
        'collectors_path': '/usr/local/share/diamond/collectors/',
        'handlers_config_path': '/etc/diamond/handlers/',
        'pkg': 'diamond',
        'service': 'diamond',
        'user': 'root',
        'group': 'root',
    },
    'RedHat': {
        'config': '/etc/diamond/diamond.conf',
        'configs_dir': '/etc/diamond/configs/',
        'collectors_config_path': '/etc/diamond/collectors/',
        'collectors_path': '/usr/local/share/diamond/collectors/',
        'handlers_config_path': '/etc/diamond/handlers/',
        'pkg': 'diamond',
        'service': 'diamond',
        'user': 'root',
        'group': 'root',
    },
    'FreeBSD': {
        'config': '/etc/diamond/diamond.conf',
        'configs_dir': '/etc/diamond/configs/',
        'collectors_config_path': '/etc/diamond/collectors/',
        'collectors_path': '/usr/local/share/diamond/collectors/',
        'handlers_config_path': '/etc/diamond/handlers/',
        'pkg': 'diamond',
        'service': 'diamond',
        'user': 'root',
        'group': 'wheel',
    },
}, merge=salt['pillar.get']('diamond:lookup')) %}

{# Settings dictionary with default values #}
{% set default_settings = {
    'diamond': {
    	'handlers': 'diamond.handler.cloudwatch.cloudwatchHandler',
        'handler': {
            'graphite': {
            	'enabled': False,
                'host': 'localhost',
                'port': 2003,
                'module': 'diamond.handler.graphite.GraphiteHandler'
            },
            'cloudwatch': {
              'enabled': False,
              'region': 'eu-west-1',
              'module': 'diamond.handler.cloudwatch.cloudwatchHandler'
            }
        },
        'path_prefix': 'servers',
        'path_suffix': '',        
        'collectors': {
            'rabbitmq': {
                'enabled': False,
                'host': 'localhost',
                'port': 55672,
                'user': 'guest',
                'password': 'guest',
                'cluster': False
            },
            'elasticsearch': {
                'enabled': False,
                'host': 'localhost',
                'port': 9200,
             	'cluster': False
            },
            'redis': {
                'enabled': False,
                'host': 'localhost',
                'port': 6379
            }
        }
    }
} %}

{# Merge os_map into settings dictionary #}
{% do default_settings.diamond.update(os_map) %}

{# Update settings defaults from pillar data #}
{% set diamond_settings = salt['pillar.get']('diamond', default=default_settings.diamond, merge=True) %}
